.Complete {
  text-decoration: line-through;
}
.btn{
  margin-top: 18px;
    padding: 7px 40px;
    margin: 10px 46%;
    background-color: lightblue;
    font-size: x-large;
    font-family: cursive;
    border-color: lightblue;
    color: white;
    
}
.btn:hover ,a:hover{
  background-color:lightseagreen!important;
}
h2{
  text-align: center;
    color: cadetblue;
}
input{
  border: 5px solid pink!important;
    border-radius: 25px!important;
    margin: 0 20%;
    width: 61%!important;
}

.jumbotron p ,h1{
  color: lightseagreen;
    text-align: center;
}
.liste{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.liste h5,button{
  margin-right:17px;
}
button{
  border-radius: 11px;
  background-color: lightblue;

  font-family: cursive;
  border-color: lightblue;
}